<div id="campaign-header" class="row">
	<div class="col-sm-4 img-profile">
		<img class="img-circle img-responsive" src="{{profile_img_url}}">
	</div>
	<div id="profile-info" class="col-sm-8">
		<h1 class="name">{{first_name}} {{last_name}}</h1>
		<h2 class="tagline">{{campaign_tagline}}</h2>
	</div>
</div>
<div id="campaign-stats" class="row">
	<div id="backer-info" class="col-sm-8">
		<h2>
			<span class="money-raised">${{money_raised}}</span> raised from {{backers_number}} backers
		</h2>
	</div>
	<div id="back-campaign-stats" class="col-sm-4">
		<a href="#" id="back-campaign-stats-btn" class="btn btn-primary btn-lg">Back {{first_name}}</a>
	</div>
</div>
<div id="campaign-info" class="row">
	<div class="col-sm-12">
		<h2 id="about-header">About {{first_name}}</h2>
		<p>{{campaign_info_description}}</p>
		<a href="#" id="back-campaign-info-btn" class="btn btn-primary btn-lg">Back {{first_name}}</a>
	</div>
</div>



